<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lab_REST"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >

        <activity android:name=".sharedpref.SubmitRequestActivity" />
        <activity android:name=".sharedpref.ConfirmRequestActivity" />
        <activity
            android:name=".sharedpref.ItemListActivity"
            android:exported="false" />
        <activity
            android:name=".sharedpref.AdminHomeActivity"
            android:exported="false" />
        <activity
            android:name=".sharedpref.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".sharedpref.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sharedpref.UserHomeActivity" />
        <activity android:name=".sharedpref.UpdateItemActivity"/>
    </application>

</manifest>